<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343924180473-ep4ddfadln8v50c0103h23emor1i77ki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343924180473-ep4ddfadln8v50c0103h23emor1i77ki</string>
	<key>API_KEY</key>
	<string>AIzaSyDBd_CeHLzr5p3PNKTujuL8B-ilVN_0FmM</string>
	<key>GCM_SENDER_ID</key>
	<string>343924180473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skillbox178</string>
	<key>PROJECT_ID</key>
	<string>wishlist-3fc39</string>
	<key>STORAGE_BUCKET</key>
	<string>wishlist-3fc39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343924180473:ios:b586984ee13fd98570e928</string>
</dict>
</plist>